---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/accounts?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 504285880e534514728b011f01c19e57ae44d012c467fdf9b6506f3d4f3cf143
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9ec8bd2316f8d086adddae554e9c8172"'
    body:
      encoding: UTF-8
      string: '{"accounts":[{"id":7067,"contact_email":"gecko@tradegecko.com","contact_mobile":null,"contact_phone":"555-555-555","country":"SG","default_tax_rate":7.0,"default_tax_type":"exclusive","industry":"Computers,
        IT Products \u0026 Services","logo_url":null,"name":"Gecko Inc.","invoice_details":"Your
        prompt payment is greatly appreciated","order_details":null,"quote_details":null,"website":null,"expires_at":"2014-03-26T02:34:30.000Z","subscription_name":"Small","subscription_price":99.0,"annual_subscription_price":79.0,"tax_number":"","tax_number_label":"GST
        Number","tax_label":"GST","default_order_price_type_id":"wholesale","default_purchase_order_price_type_id":"buy","time_zone":"Asia/Singapore","stock_level_warn":true,"primary_location_id":8409,"primary_billing_location_id":8409,"default_currency_id":8078,"default_payment_term_id":20562,"billing_contact_id":8926,"location_ids":[8409],"user_ids":[8926]}]}'
  recorded_at: Wed, 05 Mar 2014 02:37:50 GMT
recorded_with: VCR 2.8.0
