---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/addresses?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 23af81161fe7f54dd6d065210808049612b5bb0cf7a3e487a8e48eb9e230eac2
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":313,"total_pages":63,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/addresses.json?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/addresses.json?limit=5&page=63>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1335282ee1bc06f91a171f34dc53f550"'
    body:
      encoding: UTF-8
      string: '{"addresses":[{"id":3,"company_id":3,"city":"Auckland","company_name":"TradeGecko","country":"NZ","country_code":"NZ","label":"Shipping","state":"","address1":"14a
        York St","address2":null,"suburb":"Parnell","zip_code":"123456","phone_number":null,"email":null,"status":"active"},{"id":42,"company_id":2,"city":"Auckland","company_name":"Saks
        Fifth Avenue","country":"New Zealand","country_code":"NZ","label":"Billing","state":"","address1":"7 jhsjhsd
        jsd","address2":null,"suburb":"hernebay","zip_code":"1022","phone_number":null,"email":null,"status":"active"},{"id":43,"company_id":2,"city":"auckland","company_name":"Saks
        Fifth Avenue","country":"NZL","country_code":"NZ","label":"Shipping","state":"","address1":"65
        hgsdhsgd","address2":null,"suburb":"ytdy hnb","zip_code":"7637","phone_number":null,"email":null,"status":"active"},{"id":101,"company_id":103,"city":null,"company_name":"Mike''s
        Bikes","country":null,"country_code":null,"label":"Billing Address","state":null,"address1":"234
        test st","address2":null,"suburb":null,"zip_code":null,"phone_number":null,"email":null,"status":"active"},{"id":102,"company_id":104,"city":null,"company_name":"Stove
        Top Cafe","country":null,"country_code":null,"label":"Billing Address","state":null,"address1":"54
        test st","address2":null,"suburb":null,"zip_code":null,"phone_number":null,"email":null,"status":"active"}]}'
  recorded_at: Mon, 03 Mar 2014 03:54:00 GMT
recorded_with: VCR 2.8.0
