---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/channels?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6c565ae9b0f11967842de246ac48af77a461a07d7f78ba6619d42c2a27d234c9
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1442472900'
      X-Pagination:
      - '{"total_records":6,"total_pages":2,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/channels?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/channels?limit=5&page=2>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["8gqnugnfutn41nkoysk2","ck649g19ztke6t3h0uif","2a36x60nkep6vo6fnt8c","y5x7rci5vlr31wyrwfdz","5fmkus3lafbm57gfa5vx","58whj29mvt5li6wu7e5r","4nffzg3mzgxjpz1n60v2","l3aa9o4d0ucux1f7asq1","keo9vi6r0wir7vwbpywb","sw1cvhy3upf4o8q2892t"]'
    body:
      encoding: UTF-8
      string: '{"channels":[{"id":6,"created_at":"2015-09-17T06:35:10.293Z","updated_at":"2015-09-17T06:35:10.293Z","active":false,"application_id":5,"authenticated":true,"last_fetched_at":null,"manage_variant_details":null,"name":"Stripe5","price_list_id":"retail","sale_price_list_id":null,"publishable":false,"redirect_url":null,"site_url":"4","stock_location_id":null,"type":"stripe","options":{"publishable_key":"pk_test_oZUPb3r2e3dSCzspt7NDLyF0","stripe_user_id":"acct_16lbo0HXy2d0tYVu"},"publishable_key":"pk_test_oZUPb3r2e3dSCzspt7NDLyF0"},{"id":5,"created_at":"2015-09-17T06:35:07.580Z","updated_at":"2015-09-17T06:35:07.580Z","active":false,"application_id":5,"authenticated":true,"last_fetched_at":null,"manage_variant_details":null,"name":"Stripe4","price_list_id":"retail","sale_price_list_id":null,"publishable":false,"redirect_url":null,"site_url":"3","stock_location_id":null,"type":"stripe","options":{"publishable_key":"pk_test_oZUPb3r2e3dSCzspt7NDLyF[...]
