---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/companies?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ca82dd1f31d34b1e9b76a2ce2488b552d130788659ce0cf8c665aaffd9c7387d
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":157,"total_pages":32,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/companies.json?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/companies.json?limit=5&page=32>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"199304dd0cab85b5b5243d035fe23825"'
    body:
      encoding: UTF-8
      string: '{"companies":[{"id":114,"assignee_id":null,"name":"Cupcake Boutique","description":null,"phone_number":null,"status":"active","email":"cakes@cupcakeboutique.com","website":null,"company_type":"business","company_code":"8974531","fax":null,"default_tax_rate":null,"default_discount_rate":null,"default_price_type_id":"buy","default_payment_term_id":null,"tax_number":null,"address_ids":[56975],"contact_ids":[13352],"note_ids":[]},{"id":109,"assignee_id":null,"name":"Lagoon
        Bike and Bits","description":null,"phone_number":null,"status":"active","email":null,"website":null,"company_type":"business","company_code":"243678","fax":null,"default_tax_rate":null,"default_discount_rate":null,"default_price_type_id":null,"default_payment_term_id":null,"tax_number":null,"address_ids":[],"contact_ids":[29537],"note_ids":[]},{"id":110,"assignee_id":null,"name":"Ludwigs","description":null,"phone_number":null,"status":"act[...]
