---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/variants/composition/63
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 12d62e610cf7825f2bb03e284dfada32e55492f44d0c3fc3bb25736978cbdb65
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1581567600'
      X-Pagination:
      - '{"total_records":3,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/variants/composition/63?page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"composition":[{"bundle_sku":"BUNDLE-SHIRT","component_sku":"SW001-LG-M","quantity":"2.0","bundle_id":63,"component_id":9},{"bundle_sku":"BUNDLE-SHIRT","component_sku":"SW001-DG-M","quantity":"2.0","bundle_id":63,"component_id":8},{"bundle_sku":"BUNDLE-SHIRT","component_sku":"SW001-R-M","quantity":"2.0","bundle_id":63,"component_id":7}]}'
  recorded_at: Thu, 13 Feb 2020 04:17:14 GMT
recorded_with: VCR 5.1.0
