---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/variants/composition?include=bundle,component
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 12d62e610cf7825f2bb03e284dfada32e55492f44d0c3fc3bb25736978cbdb65
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1581567300'
      X-Pagination:
      - '{"total_records":4,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/variants/composition?include=bundle%2Ccomponent&page=1>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"variants":[{"id":64,"created_at":"2020-02-13T01:39:13.538Z","updated_at":"2020-02-13T01:52:58.303Z","product_id":6,"default_ledger_account_id":null,"default_cost_of_goods_ledger_id":null,"buy_price":"400.0","committed_stock":"1","available_stock":"5","production_committed_stock":"0","incoming_stock":"0","production_incoming_stock":"0","composite":true,"packsize":true,"description":null,"is_online":false,"keep_selling":false,"last_cost_price":null,"manage_stock":true,"max_online":null,"moving_average_cost":null,"name":"Shoe
        Box - Pack of 5","online_ordering":false,"opt1":null,"opt2":null,"opt3":null,"position":0,"product_name":"Sports
        Shoes","product_status":"active","product_type":"Sports Shoes","purchasable":true,"manufacturable":false,"retail_price":"745.0","sellable":true,"sku":"TS-001-11","status":"active","stock_on_hand":"6","supplier_code":null,"taxable":true,"upc":null,"weight":"0.0","weight_unit":null,"weight_value":"0.0","wholesale_price":"500.0","volume":"0.0","volume_unit":null,"moq":0,"stock_batchable":false,"country_of_origin":null,"hs_code":null,"initial_cost_price_confirmed":true,"total_committed_stock":"1","total_incoming_stock":"0","current_version_variant_id":null,"image_ids":[],"variant_prices":[{"price_list_id":"retail","value":"745.0"},{"price_list_id":"wholesale","value":"500.0"},{"price_list_id":"buy","value":"400.0"}],"locations":[{"location_id":1,"bin_location":null,"reorder_point":null,"lead_time":null,"safety_stock":null,"stock_cover":null,"stock_on_hand":"6","committed":"1","production_committed":0,"incoming":0,"production_incoming":0,"available":"5"}],"prices":{"retail":"745.0","wholesale":"500.0","buy":"400.0"},"stock_levels":{"1":"6.0"},"committed_stock_levels":{"1":"1.0"}},{"id":20,"created_at":"2020-02-10T13:47:13.331Z","updated_at":"2020-02-13T01:39:13.716Z","product_id":6,"default_ledger_account_id":null,"default_cost_of_goods_ledger_id":null,"buy_price":"80.0","committed_stock":"5","available_stock":"25","production_committed_stock":"0","incoming_stock":"0","production_incoming_stock":"0","composite":false,"packsize":false,"description":null,"is_online":false,"keep_selling":false,"last_cost_price":"85.0","manage_stock":true,"max_online":null,"movi[...]
