---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/currencies?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7d3ed5d622e3becc591f15132f07bb52f05fcbd899f6d9dce60409c0e2c712e5
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":11,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/currencies?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cf2f17e6adc353b536195caff36a01dc"'
    body:
      encoding: UTF-8
      string: '{"currencies":[]}'
  recorded_at: Thu, 15 May 2014 09:55:40 GMT
recorded_with: VCR 2.9.0
