---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/currencies?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0e1bec2b61f1b40220121ca4717f2b5ff2c7f0e2b8ba3ed24b290d2685dd8e49
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":11,"total_pages":3,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/currencies.json?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/currencies.json?limit=5&page=3>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"70988a70a165365de34409664cd83202"'
    body:
      encoding: UTF-8
      string: '{"currencies":[{"id":1909,"iso":"MYR","name":"Ringgit","rate":"2.54317","symbol":"RM","separator":".","delimiter":",","precision":2,"format":"%u%n"},{"id":2007,"iso":"AUD","name":"Australian
        Dollar","rate":"0.85412","symbol":"$","separator":".","delimiter":",","precision":2,"format":"%u%n"},{"id":4387,"iso":"BTC","name":"BTC","rate":"0.0041","symbol":"$","separator":".","delimiter":",","precision":2,"format":"%u%n"},{"id":3056,"iso":"NZD","name":"New
        Zealand","rate":"0.97851","symbol":"$","separator":".","delimiter":",","precision":2,"format":"%u%n"},{"id":4,"iso":"SGD","name":"Singapore
        Dollars","rate":"1.0","symbol":"$","separator":".","delimiter":",","precision":2,"format":"%u%n"}]}'
  recorded_at: Wed, 12 Mar 2014 11:30:13 GMT
recorded_with: VCR 2.8.0
