---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/document_themes?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6c565ae9b0f11967842de246ac48af77a461a07d7f78ba6619d42c2a27d234c9
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1442472900'
      X-Pagination:
      - '{"total_records":11,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/document_themes?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      X-Miniprofiler-Ids:
      - '["12q9tlt4b40ikikrxpw2","ck649g19ztke6t3h0uif","2a36x60nkep6vo6fnt8c","y5x7rci5vlr31wyrwfdz","5fmkus3lafbm57gfa5vx","58whj29mvt5li6wu7e5r","4nffzg3mzgxjpz1n60v2","l3aa9o4d0ucux1f7asq1","keo9vi6r0wir7vwbpywb","sw1cvhy3upf4o8q2892t"]'
    body:
      encoding: UTF-8
      string: '{"document_themes":[]}'
  recorded_at: Thu, 17 Sep 2015 06:52:28 GMT
recorded_with: VCR 2.9.3
