---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/fulfillment_returns?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer df18f3bd1b2457f3df52534bec266ff8bc360c01870f04745327e304da6d1d90
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":371,"total_pages":75,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/fulfillment_returns.json?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/fulfillment_returns.json?limit=5&page=75>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ec098298a089ff749704a5ce1c395fc5"'
    body:
      encoding: UTF-8
      string: '{"fulfillment_return_line_items":[{"id":342205,"fulfillment_id":99232,"order_line_item_id":515705,"quantity":"1.0","base_price":"25.0"},{"id":342206,"fulfillment_id":99232,"order_line_item_id":515706,"quantity":"1.0","base_price":"20.0"},{"id":342155,"fulfillment_id":99216,"order_line_item_id":508721,"quantity":"2.0","base_price":null},{"id":338215,"fulfillment_id":98019,"order_line_item_id":509625,"quantity":"1.0","base_price":"25.0"},{"id":338216,"fulfillment_id":98019,"order_line_item_id":509626,"quantity":"1.0","base_price":"20.0"},{"id":335432,"fulfillment_id":97255,"order_line_item_id":498992,"quantity":"1.0","base_price":"3.9321"},{"id":335157,"fulfillment_id":97167,"order_line_item_id":504670,"quantity":"1.0","base_price":"5.0"}],"fulfillment_returns":[{"id":99232,"order_id":138669,"status":"returning","received_at":null,"delivery_type":"Courier","tracking_number":"123spam","notes":null,"tracking_url":null,"tracking_company":null,"updated_at":"2014-02-17T03:01:47.495Z","fulfillment_return_line_item_ids":[342205,342206]},{"id":99216,"order_id":136938,"status":"returning","received_at":null,"delivery_type":null,"tracking_number":null,"notes":null,"tracking_url":null,"tracking_company":null,"updated_at":"2014-02-17T01:31:02.780Z","fulfillment_return_line_item_ids":[342155]},{"id":98019,"order_id":137108,"status":"returning","received_at":null,"delivery_type":"Courier","tracking_number":"A554G12","notes":null,"tracking_url":"thetracker.com/3311233","tracking_company":null,"updated_at":"2014-02-14T07:16:43.871Z","fulfillment_return_line_item_ids":[338215,338216]},{"id":97255,"order_id":134005,"status":"returning","received_at":null,"delivery_type":null,"tracking_number":null,"notes":null,"tracking_url":null,"tracking_company":null,"updated_at":"2014-02-13T06:28:40.239Z","fulfillment_return_line_item_ids":[335432]},{"id":97167,"order_id":135893,"status":"returning","received_at":null,"delivery_type":null,"tracking_number":null,"notes":null,"tracking_url":null,"tracking_company":null,"updated_at":"2014-02-13T02:39:30.451Z","fulfillment_return_line_item_ids":[335157]}],"meta":{"total":371}}'
  recorded_at: Sat, 01 Mar 2014 04:08:54 GMT
recorded_with: VCR 2.8.0
