---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/fulfillments?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ca89bd74c095b9d27b62c0e4dff6960123d6df6919d078e96b85081a132014ba
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":372,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/fulfillments.json?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4229c86e111e9779d87adcbb4e30e8a7"'
    body:
      encoding: UTF-8
      string: '{"fulfillments":[],"meta":{"total":372}}'
  recorded_at: Sat, 08 Mar 2014 04:18:46 GMT
recorded_with: VCR 2.8.0
