---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/invoice_line_items?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e6d789de2b19273c9f42fb7c050022297ea3a2330746e704c02ec7b015cd1084
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1409623800'
      X-Pagination:
      - '{"total_records":159,"total_pages":32,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/invoice_line_items?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/invoice_line_items?limit=5&page=32>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e7dcab514349a0a7a2467061f1603650"'
    body:
      encoding: UTF-8
      string: '{"invoice_line_items":[{"id":117,"quantity":"1.0","position":0,"invoice_id":63,"order_line_item_id":233,"ledger_account_id":null},{"id":116,"quantity":"1.0","position":0,"invoice_id":62,"order_line_item_id":232,"ledger_account_id":null},{"id":115,"quantity":"1.0","position":0,"invoice_id":61,"order_line_item_id":231,"ledger_account_id":null},{"id":114,"quantity":"1.0","position":0,"invoice_id":60,"order_line_item_id":230,"ledger_account_id":null},{"id":113,"quantity":"1.0","position":0,"invoice_id":59,"order_line_item_id":229,"ledger_account_id":null}]}'
  recorded_at: Tue, 02 Sep 2014 02:09:34 GMT
recorded_with: VCR 2.9.2
