---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/invoices?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e6d789de2b19273c9f42fb7c050022297ea3a2330746e704c02ec7b015cd1084
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '1409623200'
      X-Pagination:
      - '{"total_records":58,"total_pages":12,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/invoices?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/invoices?limit=5&page=12>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1c698d4d8caf060daf3deac66060f2c2"'
    body:
      encoding: UTF-8
      string: '{"invoice_line_items":[{"id":128,"quantity":"1.0","position":1,"invoice_id":65,"order_line_item_id":794,"ledger_account_id":1},{"id":129,"quantity":"1.0","position":2,"invoice_id":65,"order_line_item_id":795,"ledger_account_id":1},{"id":130,"quantity":"1.0","position":3,"invoice_id":65,"order_line_item_id":797,"ledger_account_id":1},{"id":131,"quantity":"1.0","position":4,"invoice_id":65,"order_line_item_id":796,"ledger_account_id":1},{"id":132,"quantity":"1.0","position":5,"invoice_id":65,"order_line_item_id":799,"ledger_account_id":1},{"id":133,"quantity":"1.0","position":6,"invoice_id":65,"order_line_item_id":798,[...]
