---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/invoice_line_items?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e6d789de2b19273c9f42fb7c050022297ea3a2330746e704c02ec7b015cd1084
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '1409623800'
      X-Pagination:
      - '{"total_records":159,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/invoice_line_items?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7dcf5f14b31a6c1f15adfaf52ec0087d"'
    body:
      encoding: UTF-8
      string: '{"invoice_line_items":[]}'
  recorded_at: Tue, 02 Sep 2014 02:09:34 GMT
recorded_with: VCR 2.9.2
