---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/notes?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1412078700'
      X-Pagination:
      - '{"total_records":11,"total_pages":3,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/notes?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/notes?limit=5&page=3>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8764f347b32f518a0e47d3c94dba94c8"'
    body:
      encoding: UTF-8
      string: '{"notes":[{"id":1,"created_at":"2014-02-12T07:25:10.082Z","updated_at":"2014-02-12T07:25:10.082Z","company_id":33,"user_id":37,"body":"Manager speaks Sindarin"}]}'
  recorded_at: Tue, 30 Sep 2014 12:02:19 GMT
recorded_with: VCR 2.9.2
