---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/orders?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 73f8655eda623d3a7bc99a8d3ff35d47220047041b28e8b83cb49f59a9119f14
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":658,"total_pages":132,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/orders.json?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/orders.json?limit=5&page=132>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cb93a404093feaa63b2ec8dfa04a6c1f"'
    body:
      encoding: UTF-8
      string: '{"orders":[{"id":5706,"fulfillment_ids":[5086,17053],"invoice_ids":[4347],"company_id":106,"shipping_address_id":1171,"billing_address_id":104,"user_id":829,"assignee_id":null,"stock_location_id":159,"currency_id":4,"order_number":"SO0211","phone_number":"98
        6453651","email":"hello@bikesmoore.com","notes":null,"reference_number":"","status":"fulfilled","payment_status":"unpaid","invoice_status":"partial","invoice_numbers":{"4347":"INV0042"},"packed_status":"packed","fulfillment_status":"shipped","tax_type":"exclusive","default_price_type_id":"wholesale","issued_at":"2013-03-28","created_at":"2013-03-28T08:02:43.377Z","updated_at":"2013-11-14T04:02:23.404Z","ship_at":"2013-04-11","tax_override":null,"tax_label":"GST","tracking_number":null,"source_id":null,"source_url":null,"total":"166.75","source":null,"url":null,"cached_total":"166.75","order_line_item_ids":[12434,12435,12433]},{"id":120661,"fulfillment_ids":[],"invoice_ids":[],"company_id":206086,"shipping_address_id":289097,"billing_address_id":289097,"user_id":1748,"assignee_id":1748,"stock_location_id":3723,"currency_id":4,"order_number":"WC-264","phone_number":null,"email":"email@mail.com","notes":null,"reference_number":null,"status":"deleted","payment_status":"unpaid","invoice_status":"uninvoiced","invoice_numbers":{},"packed_status":"unpacked","fulfillment_status":"unshipped","tax_type":"ex[...]
