---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/order_line_items?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1412079600'
      X-Pagination:
      - '{"total_records":2367,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/order_line_items?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fb96b558e33bb3ea0305714e0fde1c86"'
    body:
      encoding: UTF-8
      string: '{"order_line_items":[]}'
  recorded_at: Tue, 30 Sep 2014 12:19:01 GMT
recorded_with: VCR 2.9.2
