---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/order_line_items?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '1412079600'
      X-Pagination:
      - '{"total_records":2367,"total_pages":474,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/order_line_items?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/order_line_items?limit=5&page=474>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b98ffcf29ff45dd629fff2c22cecdb6f"'
    body:
      encoding: UTF-8
      string: '{"order_line_items":[{"id":1662952,"order_id":537098,"variant_id":2090506,"tax_type_id":8,"discount":null,"quantity":"50.0","price":"20.0","tax_rate_override":null,"freeform":false,"label":null,"position":0,"line_type":null,"image_url":null,"tax_rate":null,"fulfillment_line_item_ids":[],"invoice_line_item_ids":[]},{"id":1662276,"order_id":536924,"variant_id":2144056,"tax_type_id":8,"discount":null,"quantity":"10.0","price":"120.0","tax_rate_override":null,"freeform":false,"label":null,"position":0,"line_type":null,"image_url":null,"tax_rate":null,"fulfillment_line_item_ids":[],"invoice_line_item_ids":[]},{"id":1643360,"order_id":532901,"variant_id":2133631,"tax_type_id":8,"discount":null,"quantity":"1200.0","price":"12.0","tax_rate_override":null,"freeform":false,"label":null,"position":0,"line_type":null,"image_url":null,"tax_rate":null,"fulfillment_line_item_ids":[1286455],"invoice_line_item_ids":[1063816]},{"id":1642996,"order_id":532841,"variant_id":2030661,"tax_type_id":8,"discount":null,"quantity":"50.0","price":"5.0","tax_rate_override":null,"freeform":false,"label":null,"position":0,"line_type":null,"image_url":null,"tax_rate":null,"fulfillment_line_item_ids":[1277051],"invoice_line_item_ids":[1062933]},{"id":1642847,"order_id":532796,"variant_id":2144057,"tax_type_id":8,"discount":null,"quantity":"9.0","price":"130.0","tax_rate_override":null,"freeform":false,"label":null,"position":0,"line_type":null,"image_url":null,"tax_rate":null,"fulfillment_line_item_ids":[],"invoice_line_item_ids":[]}]}'
  recorded_at: Tue, 30 Sep 2014 12:19:01 GMT
recorded_with: VCR 2.9.2
