---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/payment_methods?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <__ACCESS_TOKEN__>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1594871400'
      X-Pagination:
      - '{"total_records":11,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/payment_methods?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98c458ef2a733afd7d9fbf88e776e5c2"
    body:
      encoding: UTF-8
      string: '{"payment_methods":[]}'
  recorded_at: Thu, 16 Jul 2020 03:48:14 GMT
recorded_with: VCR 5.1.0
