---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/payment_terms?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 07084fd170b00327dd26e0cff0ff659afc7ada07bec0b58ce91e3f8667cf5ac4
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1426503900'
      X-Pagination:
      - '{"total_records":11,"total_pages":3,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/payment_terms?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/payment_terms?limit=5&page=3>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f5f819a402b3b2a646d6931a72b7a685"'
    body:
      encoding: UTF-8
      string: '{"payment_terms":[{"id":77,"name":"NET55","due_in_days":55,"status":"active","from":"eom"},{"id":76,"name":"NET66","due_in_days":66,"status":"active","from":"now"},{"id":75,"name":"NET45","due_in_days":45,"status":"active","from":"now"},{"id":74,"name":"NET40","due_in_days":40,"status":"active","from":"now"},{"id":73,"name":"NET25","due_in_days":25,"status":"active","from":"now"}]}'
  recorded_at: Mon, 16 Mar 2015 11:02:29 GMT
recorded_with: VCR 2.9.3
