---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/payment_terms?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 07084fd170b00327dd26e0cff0ff659afc7ada07bec0b58ce91e3f8667cf5ac4
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1426503900'
      X-Pagination:
      - '{"total_records":11,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/payment_terms?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"90d153023966817f5a1e16d9911a7836"'
    body:
      encoding: UTF-8
      string: '{"payment_terms":[]}'
  recorded_at: Mon, 16 Mar 2015 11:02:29 GMT
recorded_with: VCR 2.9.3
