---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/payment_methods?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <__ACCESS_TOKEN__>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1594871400'
      X-Pagination:
      - '{"total_records":11,"total_pages":3,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/payment_methods?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/payment_methods?limit=5&page=3>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7462907dae56049f84e55abca4a15c5e"
    body:
      encoding: UTF-8
      string: '{"payment_methods":[{"id":32,"created_at":"2020-07-16T03:46:03.946Z","updated_at":"2020-07-16T03:46:03.946Z","name":"PayNow","is_default":false},{"id":31,"created_at":"2020-07-16T03:45:50.096Z","updated_at":"2020-07-16T03:45:50.096Z","name":"Singtel
        Dash","is_default":false},{"id":30,"created_at":"2020-07-16T03:45:36.276Z","updated_at":"2020-07-16T03:45:36.276Z","name":"eNets","is_default":false},{"id":29,"created_at":"2020-07-16T03:45:21.473Z","updated_at":"2020-07-16T03:45:21.473Z","name":"Voucher","is_default":false},{"id":28,"created_at":"2020-07-16T03:45:15.160Z","updated_at":"2020-07-16T03:45:15.160Z","name":"Credit
        Note","is_default":false}]}'
  recorded_at: Thu, 16 Jul 2020 03:48:15 GMT
recorded_with: VCR 5.1.0
