---
http_interactions:
- request:
    method: post
    uri: http://api.lvh.me:3000/products
    body:
      encoding: UTF-8
      string: product%5Bdescription%5D=&product%5Bname%5D=Gary&product%5Bopt1%5D=&product%5Bopt2%5D=&product%5Bopt3%5D=&product%5Bproduct_type%5D=&product%5Bstatus%5D=&product%5Bsupplier%5D=&product%5Btags%5D=
    headers:
      Authorization:
      - Bearer 72b7a0c28664b0984f732359e0a10a5f07a723339bc725d46027a0afc06342e6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - http://api.lvh.me:3000/ajax/products/532003
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d4d2628a442a14e032bf79eb436f22cf"'
    body:
      encoding: UTF-8
      string: '{"product":{"id":532003,"name":"Gary","description":"","product_type":"","supplier":"","created_at":"2014-03-10T05:17:10.009Z","updated_at":"2014-03-10T05:17:10.009Z","status":"","tags":null,"opt1":"","opt2":"","opt3":"","quantity":"0","search_cache":"","image_url":null,"variant_ids":[],"vendor":""}}'
  recorded_at: Mon, 10 Mar 2014 05:17:10 GMT
recorded_with: VCR 2.8.0
