---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/products?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ca89bd74c095b9d27b62c0e4dff6960123d6df6919d078e96b85081a132014ba
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":247,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/products.json?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f9869eb24c934b9e009236ded4425723"'
    body:
      encoding: UTF-8
      string: '{"products":[],"meta":{"total":247}}'
  recorded_at: Sat, 08 Mar 2014 04:18:46 GMT
recorded_with: VCR 2.8.0
