---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/products?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer a2937ab8d1c824af7866976027340165666eda983c2feba457c1fd32a3efdb50
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":247,"total_pages":50,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/products.json?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/products.json?limit=5&page=50>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"796e7dc6b4e0b1199c411aa55107e373"'
    body:
      encoding: UTF-8
      string: '{"products":[{"id":498917,"name":"2 Seater Sofa - Florence Knoll Replica","description":null,"product_type":"2
        Seat Sofa","supplier":"Florence Knoll","created_at":"2014-02-05T05:22:43.502Z","updated_at":"2014-02-13T06:41:32.357Z","status":"active","tags":"Office,2
        Seat,Sofa","opt1":"Colour","opt2":" Size ","opt3":null,"quantity":"1","search_cache":"875220-B
        875220-W White 875220-N Navy","image_url":"https://tradegecko-development-images.s3.amazonaws.com/uploads/variant_image/image/375737/thumbnail_H75WfVALRlGoT0kw97GU_Screen_20Shot_202013-12-05_20at_205.31.34_20pm.png","variant_ids":[936265,936266,936267],"vendor":"Florence
        Knoll"},{"id":525598,"name":"2342423","description":"\u003Cb\u003EWYSIWYG
        test yo!\u003Cbr\u003E\u003Cbr\u003E\u003C/b\u003Essdasds","product_type":"Bag","supplier":"Acme
        Ltd","created_at":"2014-02-14T06:57:48.257Z","updated_at":"2014-02-14T06:57:48.257Z","status":"active","tags":"T-shirts,Winter
        2012","opt1":"Size","opt2":null,"opt3":null,"quantity":"8","search_cache":"smth
        Default","image_url":null,"variant_ids":[982793],"vendor":"Acme Ltd"},{"[...]
