---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/purchase_order_line_items?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '292'
      X-Rate-Limit-Reset:
      - '1412077200'
      X-Pagination:
      - '{"total_records":1848,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/purchase_order_line_items?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2c5b679996e7d0df8708181e6cdacd3a"'
    body:
      encoding: UTF-8
      string: '{"purchase_order_line_items":[]}'
  recorded_at: Tue, 30 Sep 2014 11:38:37 GMT
recorded_with: VCR 2.9.2
