---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/purchase_orders?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '1412077200'
      X-Pagination:
      - '{"total_records":11,"total_pages":3,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/purchase_orders?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/purchase_orders?limit=5&page=3>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bbf0796169c05fe999b7900cd40d7425"'
    body:
      encoding: UTF-8
      string: '{"purchase_orders":[{"id":28381,"document_url":"http://api.lvh.me:3000/d/-QGxZnwxiGsx19hvWW3wpzN4","company_id":633468,"supplier_address_id":947745,"stock_location_id":159,"billing_address_id":159,"currency_id":4,"status":"active","procurement_status":"unprocured","order_number":"PO0435","reference_number":null,"notes":"webinar","email":null,"tax_treatment":"exclusive","created_at":"2014-09-30T11:37:19.501Z","updated_at":"2014-09-30T11:37:24.218Z","due_at":"2014-10-14","default_price_list_id":"buy","destination_url":null,"total":"232311.62","cached_quantity":"10000.0","cached_total":"232311.62","default_price_type_id":"buy","tax_type":"exclusive","purchase_order_line_item_ids":[177770,177772,177771,177773],"procurement_ids":[]},{"id":28380,"document_url":"http://api.lvh.me:3000/d/3TEvZFHksd2QC_c9Jp2LVPYZ","company_id":633468,"supplier_address_id":947745,"stock_location_id":159,"billing_address_id":159,"currency_id":4,"status":"active","procurement_status":"unprocured","order_number":"PO0434","reference_number":null,"notes":"webinar","email":null,"tax_treatment":"exclusive","created_at":"2014-09-30T11:35:26.417Z","updated_at":"2014-09-30T11:36:41.571Z","due_at":"2014-10-14","default_price_list_id":"buy","destination[...]
