---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/purchase_orders?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '295'
      X-Rate-Limit-Reset:
      - '1412077200'
      X-Pagination:
      - '{"total_records":11,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/purchase_orders?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7ccd39ac0f994966825738f17d136bc7"'
    body:
      encoding: UTF-8
      string: '{"purchase_orders":[]}'
  recorded_at: Tue, 30 Sep 2014 11:37:39 GMT
recorded_with: VCR 2.9.2
