---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/purchase_order_line_items?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '293'
      X-Rate-Limit-Reset:
      - '1412077200'
      X-Pagination:
      - '{"total_records":1848,"total_pages":370,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/purchase_order_line_items?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/purchase_order_line_items?limit=5&page=370>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"80af45f5e7a985f8216d728bc721a06c"'
    body:
      encoding: UTF-8
      string: '{"purchase_order_line_items":[{"id":177772,"purchase_order_id":28381,"variant_id":2033689,"procurement_id":null,"tax_type_id":2103,"quantity":"4999.0","position":0,"tax_rate_override":null,"price":"20.0","label":null,"freeform":false,"base_price":null,"extra_cost_value":"0.0","image_url":null,"tax_rate":null},{"id":177771,"purchase_order_id":28381,"variant_id":2033689,"procurement_id":null,"tax_type_id":2103,"quantity":"5000.0","position":0,"tax_rate_override":null,"price":"20.0","label":null,"freeform":false,"base_price":null,"extra_cost_value":"0.0","image_url":null,"tax_rate":null},{"id":177770,"purchase_order_id":28381,"variant_id":2033689,"procurement_id":null,"tax_type_id":2103,"quantity":"1.0","position":0,"tax_rate_override":null,"price":"20.0","label":null,"freeform":false,"base_price":null,"extra_cost_value":"0.0","image_url":null,"tax_rate":null},{"id":177769,"purchase_order_id":28380,"variant_id":2033689,"procurement_id":null,"tax_type_id":2103,"quantity":"1.0","position":0,"tax_rate_override":null,"price":"20.0","label":null,"freeform":false,"base_price":null,"extra_cost_value":"0.0","image_url":null,"tax_rate":null},{"id":177767,"purchase_order_id":28380,"variant_id":2033689,"procurement_id":null,"tax_type_id":2103,"quantity":"5000.0","position":0,"tax_rate_override":null,"price":"20.0","label":null,"freeform":false,"base_price":null,"extra_cost_value":"0.0","image_url":null,"tax_rate":null}]}'
  recorded_at: Tue, 30 Sep 2014 11:38:37 GMT
recorded_with: VCR 2.9.2
