---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/stock_adjustment_line_items?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer c651a0dd447c5adc159ec18ed5fcaa68c3b01ec2e891cf30e02a21c6a033a00e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44dc0966e49c6f17a0be084c74415949"
      Link:
      - <http://api.lvh.me:3000/ajax/stock_adjustment_line_items?limit=0&page=1>;
        rel="last"
      X-Pagination:
      - '{"total_records":8046,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1611187500'
    body:
      encoding: ASCII-8BIT
      string: '{"stock_adjustment_line_items":[]}'
  recorded_at: Thu, 21 Jan 2021 00:03:21 GMT
recorded_with: VCR 6.0.0
