---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/stock_adjustments?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer c651a0dd447c5adc159ec18ed5fcaa68c3b01ec2e891cf30e02a21c6a033a00e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"449ab56eb705ddb268d63bd2c911fffb"
      Link:
      - <http://api.lvh.me:3000/ajax/stock_adjustments?limit=5&page=2>; rel="next",
        <http://api.lvh.me:3000/ajax/stock_adjustments?limit=5&page=323>; rel="last"
      X-Pagination:
      - '{"total_records":1612,"total_pages":323,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1611184500'
    body:
      encoding: ASCII-8BIT
      string: '{"stock_adjustments":[{"id":7616718,"created_at":"2021-01-06T18:31:17.441Z","updated_at":"2021-01-06T18:31:17.536Z","stock_location_id":35930,"stock_adjustment_reason_id":215459,"adjustment_number":"23353","notes":"Boxing
        Day","reason":null,"cached_quantity":"-48.0","total":"50.992","reason_label":"Promotion","status":"received","stock_adjustment_line_item_ids":[94414922,94414925,94414928,94414931,94414934,94414936]},{"id":7533561,"created_at":"2020-12-23T20:06:53.509Z","updated_at":"2020-12-23T20:06:53.636Z","stock_location_id":35930,"stock_adjustment_reason_id":215461,"adjustment_number":"23352","notes":null,"reason":"stocktake","cached_quantity":"-360.0","total":"3211.4664","reason_label":"Stocktake","status":"received","stock_adjustment_line_item_ids":[76498490,76498491,76498492,76498493,76498494,76498495]},{"id":7531539,"created_at":"2020-12-23T17[...]
