---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/tax_types?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1412078700'
      X-Pagination:
      - '{"total_records":11,"total_pages":3,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/tax_types?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/tax_types?limit=5&page=3>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8764f347b32f518a0e47d3c94dba94c8"'
    body:
      encoding: UTF-8
      string: '{"tax_components":[{"id":2846,"tax_type_id":2813,"position":0,"label":"Tax
        Exempt","rate":"0.0","compound":false},{"id":2646,"tax_type_id":2618,"position":0,"label":"Zero","rate":"0.0","compound":false},{"id":2120,"tax_type_id":2117,"position":0,"label":"State
        Tax (NJ)","rate":"7.0","compound":null},{"id":2121,"tax_type_id":2117,"position":1,"label":"County
        Tax (Salem)","rate":"3.5","compound":null},{"id":2122,"tax_type_id":2117,"position":2,"label":"City
        Tax (Atlantic)","rate":"1.0","compound":null},{"id":2103,"tax_type_id":2103,"position":0,"label":"State
        Tax","rate":"10.0","compound":false},{"id":2105,"tax_type_id":2103,"position":2,"label":"County
        Tax","rate":"5.0","compound":false},{"id":2104,"tax_type_id":2103,"position":3,"label":"City
        Tax","rate":"1.0","compound":true},{"id":14,"tax_type_id":14,"position":1,"label":"GST","rate":"10.0","compound":false}],"tax_types":[{"id":2813,"name":"Tax
        Exempt","code":"EXEMPT","status":"active","xero_online_id":"GSTONIMPORTS","imported_from":null,"effective_rate":"0.0","tax_component_ids":[2846]},{"id":2618,"name":"Zero
        Tax","code":"ZERO","status":"active","xero_online_id":"OUTPUT","imported_from":null,"effective_rate":"0.0","tax_component_ids":[2646]},{"id":2117,"name":"Atlantic
        City Sales Tax","code":"Atlantic City Sales Tax","status":"active","xero_online_id":"TAX006","imported_from":"xero","effective_rate":"11.5","tax_component_ids":[2120,2121,2122]},{"id":2103,"name":"Atlantic
        City Tax","code":"ATLANTIC","status":"active","xero_online_id":"INPUT","imported_from":null,"effective_rate":"16.15","tax_component_ids":[2103,2105,2104]},{"id":14,"name":"GST","code":"GST","status":"active","xero_online_id":null,"imported_from":null,"effective_rate":"10.0","tax_component_ids":[14]}]}'
  recorded_at: Tue, 30 Sep 2014 12:02:19 GMT
recorded_with: VCR 2.9.2
