---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/tax_types?limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d7ebf96f5550d6ffc05474c4da3ce9d8e408ca2540ee0bbcb9e2140d47e64963
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '1412078700'
      X-Pagination:
      - '{"total_records":11,"total_pages":1,"first_page":true,"last_page":true,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/tax_types?limit=0&page=1>; rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6c4a6ecd2e5efe0bc65c8da0c28e2518"'
    body:
      encoding: UTF-8
      string: '{"tax_types":[]}'
  recorded_at: Tue, 30 Sep 2014 12:02:19 GMT
recorded_with: VCR 2.9.2
