---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/users?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0a45b6958b71a3d0dcfe1d0879a7ee777e04e0d646d005b06f96d328db783fea
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":7,"total_pages":2,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/users?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/users?limit=5&page=2>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"548f28fd1e6b968ebfad6d506179a628"'
    body:
      encoding: UTF-8
      string: '{"users":[{"id":8709,"first_name":"Yuh Wen","last_name":"Foong","email":"yuhwen@tradegecko.com","status":"active","location":null,"position":null,"phone_number":null,"mobile_phone":null,"last_sign_in_at":"2014-02-17T08:19:32.243Z","avatar_url":"/assets/avatars/avatar1.png","notification_email":false,"sales_report_email":false,"action_items_email":"off","billing_contact":false,"permissions":["read_reports","read_products","write_stocks","write_orders","write_settings","write_companies"],"account_id":4},{"id":829,"first_name":"Nadia","last_name":"Rozental","email":"nadia@tradegecko.com","status":"active","location":null,"position":null,"phone_number":null,"mobile_phone":null,"last_sign_in_at":"2014-02-17T03:28:05.763Z","avatar_url":"/assets/avatars/avatar1.png","notification_email":true,"sales_report_email":true,"action_items_email":"daily","billing_contact":false,"permissions":["read_reports","read_products","write_stocks","write_orders","write_settings","write_companies"],"account_id":4},{[...]
