---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/variants?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 51afbee2b570ac2e4604fa2e936448037c0e69acc388888e89dc88602c3e3c77
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":1343,"total_pages":269,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/variants.json?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/variants.json?limit=5&page=269>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3458d0642e47b2dae00d851f0db5f171"'
    body:
      encoding: UTF-8
      string: '{"variants":[{"id":982891,"product_id":525649,"sku":"","reorder_point":null,"wholesale_price":null,"retail_price":"0.0","status":"active","description":null,"name":"Default","upc":null,"supplier_code":null,"manage_stock":true,"max_online":null,"keep_selling":false,"taxable":true,"is_online":true,"online_id":443033153,"opt1":"Default","opt2":null,"opt3":null,"position":2,"buy_price":null,"last_cost_price":"0.0","stock_on_hand":"0","committed_stock":"0","moving_average_cost":"0","created_at":"2014-02-14T06:58:17.508Z","product_name":"zzzz","product_status":"active","product_type":"Barstool","updated_at":"2014-02-14T06:58:17.508Z","variant_prices":[{"price_list_id":"buy","value":null},{"price_list_id":"retail","value":"0.0"},{"price_list_id":"wholesale","value":null}],"composite":null,"weight":"0","sellable":true,"online_ordering":null,"locations":[{"location_id":159,"stock_on_hand":"0","committed":null}],"prices":{"buy":null,"retail":"0.0","wholesale":null},"stock_levels":{"159":0},"committed_stock_levels":{},"image_ids":[]},{"id":720709,"product_id":380149,"sku":"","reorder_point":null,"wholesale_price":null,"retail_price":"0.0","status":"active","description":null,"name":"Default","upc":null,"supplier_code":null,"manage_stock":true,"max_online":null,"keep_selling":false,"taxable":true,"is_online":true,"online_id":null,"opt1":null,"opt2":null,"opt3":null,"position":2,"buy_price":null,"last_cost_price":null,"stock_on_hand":"-12","committed_stock":"17","moving_average_cost":null,"created_at":"2013-12-12T04:51:39.[...]
