---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/variants?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 23af81161fe7f54dd6d065210808049612b5bb0cf7a3e487a8e48eb9e230eac2
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Pagination:
      - '{"total_records":857,"total_pages":172,"first_page":true,"last_page":false,"out_of_bounds":false,"offset":0}'
      Link:
      - <http://api.lvh.me:3000/ajax/variants.json?limit=5&page=2>; rel="next", <http://api.lvh.me:3000/ajax/variants.json?limit=5&page=172>;
        rel="last"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"288b521b2c5b06801be25e2edc20e95a"'
    body:
      encoding: UTF-8
      string: '{"variants":[{"id":593558,"product_id":307886,"sku":"","reorder_point":null,"wholesale_price":null,"retail_price":null,"status":"active","description":null,"name":"Gecko","upc":null,"supplier_code":null,"manage_stock":true,"max_online":null,"keep_selling":false,"taxable":true,"is_online":false,"online_id":null,"opt1":"Default","opt2":null,"opt3":null,"position":1,"buy_price":"20.0","last_cost_price":"28.18","stock_on_hand":"301","committed_stock":"11","moving_average_cost":"18.745","created_at":"2013-11-21T01:16:50.694Z","product_name":"Gecko","product_status":"active","product_type":"Barstool","updated_at":"2014-02-26T03:37:29.433Z","prices":{"buy":"20.0","retail":null,"wholesale":null},"composite":false,"weight":null,"sellable":true,"online_ordering":false,"stock_levels":{"18":"0.0","153":"0.0","159":"202.0","160":"98.0","322":"0.0","1395":"0.0","1400":"1.0","1725":"0.0","2195":"0.0","2196":"0.0","3723":"0.0","3986":"0.0","7779":"0.0"},"committed_stock_levels":{"159":"10.0","160":"1.0"},"vendor_code":null,"cost_price":"20.0","image_ids":[]},{"id":704122,"product_id":370075,"sku":"","reorder_point":null,"wholesale_price":"20.0","retail_price":"30.0","status":"active","description":null,"name":"Red
        / Small","upc":null,"supplier_code":null,"manage_stock":true,"max_online":null,"keep_selling":false,"taxable":true,"is_online":true,"online_id":null,"opt1":"Red","opt2":"Small","opt3":null,"position":2,"buy_price":"10.0","last_cost_price":"309.636","stock_on_hand":"17","committed_stock":"14","moving_average_cost":"309.636","cre[...]
